.ViewMaterial h1{
    margin: 3% auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: #52616B;
    text-shadow: 2px 2px #A1EAFB;
}

.ViewMaterial button{
    margin: 3% auto;
    display: block;
}